<div class="page-header" >

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 appIconMainScreen" >
				<h1></h1>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tileimg" style="background: url({{app.iconsrc}}) no-repeat center center;">
				</div>
				<h4>Version: {{app.version}}</h4>
				
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<h1 id="headerTitle">{{app.name}} </h1>
				<p><span ng-repeat="appcat in app.categories"><span class="label label-info">{{appcat.name}}</span>&nbsp;&nbsp;</span></p>
				<br/>
				<a class="btn btn-success btn-lg" data-toggle="modal" ng-href="#/create_app_deployment/{{app.id}}"> <i class="fa fa-cloud-upload fa-2x pull-left"></i><b>&nbsp;&nbsp;&nbsp;&nbsp;Deploy&nbsp;&nbsp;&nbsp;&nbsp;</b><br><small>Version: {{app.version}}</small></a>
				<h3>{{app.shortDescription}}</h3>
				<p>Author: <strong>{{app.owner.username}}</strong></p>
				<p>Organization: <strong>{{app.owner.organization}}</strong></p>
				<p>Date created: <strong>{{app.dateCreated| date:'medium'}}</strong></p>
				<p>Last update: <strong>{{app.dateUpdated | date:'medium' }}</strong></p>
				<p>UUID: <strong>{{app.uuid}}</strong></p>
				<p>{{app.longDescription}}</p>
				
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="container in app.containers" style="border-style: dotted; border-color: rgb(45, 45, 48); border-width: 1px;">
					<b>{{container.name}}</b>
					<div class="col-sm-12 deployArtifact shadowed" ng-repeat="da in container.deployArtifacts"> 
				    	<div class="col-sm-12"> 
				    	<p> <b>{{da.name}}</b>  ( {{da.uuid}} )  
				    	 </p>
				    	</div>
					    <div class="col-sm-12 deployArtifactExtensions" ng-repeat="ext in da.extensions">
					    	<div class="col-sm-6">	{{ext.name}} </div> 
					    	<div class="col-sm-6">	{{ext.value}} </div> 
					    </div>
				    
				    
				    </div>
				</div>

				<!-- slider container -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					    <div class="slider">
					
					        <!-- enumerate all photos -->
					        <img ng-repeat="shot in screenshotimages" class="slide" ng-swipe-right="showPrev()" 
					        			ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{shot}}" />
					
					        <!-- prev / next controls -->
					        <a class="arrow prev" ng-click="showPrev()"></a>
					        <a class="arrow next" ng-click="showNext()"></a>
					
					        <!-- extra navigation controls -->
					        <ul class="slidernav">
					            <li ng-repeat="shot in screenshotimages" ng-class="{'active':isActive($index)}">
					                <img src="{{shot}}" alt="{{shot}}" title="{{shot}}" ng-click="showPhoto($index);" />
					            </li>
					        </ul>
					
					    </div>
					    
					    
				</div>
				<!-- 
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-sm-4" ng-repeat="shot in screenshotimages">
						<div class="col-sm-12 screenshottile">
								<img ng-src="{{shot}}"
									alt="shot" width="100%">
						</div>

					</div>
				</div>
				 -->

			</div>
		</div>
	</div>
</div>