<div class="page-header" >

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Admin Deployed Applications</h1>
				<h3>View and manage all deployed applications</h3>
				<table id="grid1" tr-ng-grid="" class="usersGrid" items="mydeployments" page-items="10"
					fields="['id', 'name', 'status', 'owner.username', 'baseApplication.name' ]">
					
					<thead>
						<tr>
							<th field-name="id" display-name="Id" cell-width="5em"display-align="right"></th>
							<th field-name="name" display-name="Name"></th>
							<th field-name="status" display-name="Status"></th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr>
							
							<td nowrap="nowrap" >
								<p>Date created: <strong>{{gridItem.dateCreated| date:'medium'}}</strong></p>
								<h4>Status:									
									<span ng-show="gridItem.status === 'PENDING_ADMIN_AUTH'  " class="label label-warning">Pending Approval</span>
									<span ng-show="gridItem.status != 'PENDING_ADMIN_AUTH'  " class="label label-info">{{gridItem.status}}</span>
								</h4>
								
								<small><div ng-repeat="container in gridItem.deployContainers" style="background-color: rgb(121, 126, 159); color: white; padding: 5px;">
									<b>{{container.name}}</b><br>
									<small>({{container.targetResource.url}})</small><br>
									<div ng-repeat="da in container.deployArtifacts" style="background-color: white; color: black; padding: 5px;">
										<span >{{da.name}} : <b>{{da.status}}</b> </span>
										</div>
								</div></small>
								
								<p>&nbsp;</p>
								<a  
									class="btn btn-danger" ng-click="deleteDeployment(gridItem, gridItem.id)"><i class="fa fa-trash-o "></i> Delete</a>
								<a ng-show="gridItem.status === 'PENDING_ADMIN_AUTH'  "  class="btn btn-info" ng-click="authDeployment(gridItem, gridItem.id)"><i class="fa fa-cog "></i> Authorize</a>
								<a ng-show="gridItem.status === 'PENDING_ADMIN_AUTH'  "  class="btn btn-info" ng-click="denyDeployment(gridItem, gridItem.id)"><i class="fa fa-cog "></i> Deny</a>
								<a ng-show="gridItem.status === 'INSTALLED'  "  class="btn btn-info" ng-click="uninstallDeployment(gridItem, gridItem.id)"><i class="fa fa-remove "></i> Uninstall</a>
							</td>
						</tr>	
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>